<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392325841443-h5edvgu1i1bdtm8s9h26kdjrtal5vf6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392325841443-h5edvgu1i1bdtm8s9h26kdjrtal5vf6r</string>
	<key>API_KEY</key>
	<string>AIzaSyAR4J5gKOeJJu0vooIh64aM_-15VRm9Zdw</string>
	<key>GCM_SENDER_ID</key>
	<string>392325841443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testHelloWorld</string>
	<key>PROJECT_ID</key>
	<string>softbd-f7a56</string>
	<key>STORAGE_BUCKET</key>
	<string>softbd-f7a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392325841443:ios:52c45e040fcfdea84e2796</string>
</dict>
</plist>